@import url("reset.css");

/* Header */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.main {
    max-width: 1440px;
    display: block;
    margin: 0 auto
}

header {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 24px;
}

header .left-nav ul, header .right-nav ul {
    display: flex;
    height: 35px;
    line-height: 17.7px;
    text-transform: uppercase;
}

.logo {
    display: block;
    max-height: 16px;
    margin: 0 auto;
}

header .left-nav ul li {
    padding: 12px 8px;
}

header .left-nav ul li:hover {
    padding: 12px 8px;
    font-weight: 600;
}

header .left-nav ul li.selected {
    font-weight: 600;
}

header .right-nav {
    display: flex;
}

header .right-nav .currency {
    border: 1px solid #eeeeee;
    border-radius: 35px;
    background: url(../img/currency/us.jpg) no-repeat 5px center;
    background-size: 25px;
    padding: 0 2px 0 8px;
}

header .right-nav .currency select {
    border: none;
    height: 35px;
    background: rgba(0, 0, 0, 0);
    margin-left: 30px;
}

header .right-nav .currency select option {
    appearance: none;
    
}

header .right-nav ul {
    align-items: flex-end;
}

header .right-nav ul li {
    cursor: pointer;
    opacity: 50%;
    padding: 0 8px;
}

/* Section Benefits */
.benefits {
    background-color: #F2F2F2;
    padding: 10px 24px;
}

.benefits ul {
    display: flex;
    justify-content: space-between;
}

.benefits ul li {
    font-size: 12px;
}

.benefits ul li a {
    display: block;
    margin-left: 40px;
    font-weight: 400;
    height: 30px;
    line-height: 2.5;
    color: #000000;
    text-decoration: none;
}

.benefits ul li:nth-child(1) {
    background: url(../img/header-icons/crown.svg) no-repeat left center;
    background-size: 30px;
}

.benefits ul li:nth-child(2) {
    background: url(../img/header-icons/star.svg) no-repeat left center;
    background-size: 30px;
}

.benefits ul li:nth-child(3) {
    background: url(../img/header-icons/truck.svg) no-repeat left center;
    background-size: 30px;
}

.benefits ul li:nth-child(4) {
    background: url(../img/header-icons/pinmap.svg) no-repeat left center;
    background-size: 30px;
}

.benefits ul li:nth-child(5) {
    background: url(../img/header-icons/shop-tag.svg) no-repeat left center;
    background-size: 30px;
}

/* HERO Sider */
.hero-slider {
    display: block;
    width: auto;
    height: 650px;
    background: url(../img/hero/full.jpg) no-repeat center center;
    background-size: cover;
}
.hero-slider button {
    border: none;
    display: block;
    position: absolute;
    overflow: hidden;
    background-color: #ffffff;;
    right: 249px;
    top: 600px;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px 30px;
    -webkit-box-shadow: 4px 4px 13px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 4px 4px 13px 0px rgba(0,0,0,0.44);
    box-shadow: 4px 4px 13px 0px rgba(0,0,0,0.44);
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}