@import url("reset.css");

/* Header */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.main {
    max-width: 1440px;
    display: block;
    margin: 0 auto
}

header {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 24px;
}

header .left-nav ul, header .right-nav ul {
    display: flex;
    height: 35px;
    line-height: 17.7px;
    text-transform: uppercase;
}

.logo {
    display: block;
    max-height: 16px;
    margin: 0 auto;
}

header .left-nav ul li {
    padding: 12px 8px;
}

header .left-nav ul li:hover {
    padding: 12px 8px;
    font-weight: 600;
}

header .left-nav ul li.selected {
    font-weight: 600;
}

header .right-nav {
    display: flex;
}

header .right-nav .currency {
    border: 1px solid #eeeeee;
    border-radius: 35px;
    background: url(../img/currency/us.jpg) no-repeat 5px center;
    background-size: 25px;
    padding: 0 2px 0 8px;
}

header .right-nav .currency select {
    border: none;
    height: 35px;
    background: rgba(0, 0, 0, 0);
    margin-left: 30px;
}

header .right-nav .currency select option {
    appearance: none;
    
}

header .right-nav ul {
    align-items: flex-end;
}

header .right-nav ul li {
    cursor: pointer;
    opacity: 50%;
    padding: 0 8px;
}

/* Section Benefits */
.benefits {
    background-color: #F2F2F2;
    padding: 10px 24px;
}

.benefits ul {
    display: flex;
    justify-content: space-between;
}

.benefits ul li {
    font-size: 12px;
}

.benefits ul li a {
    display: block;
    margin-left: 40px;
    font-weight: 400;
    height: 30px;
    line-height: 2.5;
    color: #000000;
    text-decoration: none;
}

.benefits ul li:nth-child(1) {
    background: url(../img/header-icons/crown.svg) no-repeat left center;
    background-size: 30px;
}

.benefits ul li:nth-child(2) {
    background: url(../img/header-icons/star.svg) no-repeat left center;
    background-size: 30px;
}

.benefits ul li:nth-child(3) {
    background: url(../img/header-icons/truck.svg) no-repeat left center;
    background-size: 30px;
}

.benefits ul li:nth-child(4) {
    background: url(../img/header-icons/pinmap.svg) no-repeat left center;
    background-size: 30px;
}

.benefits ul li:nth-child(5) {
    background: url(../img/header-icons/shop-tag.svg) no-repeat left center;
    background-size: 30px;
}

/* HERO Sider */
.hero-slider {
    display: block;
    width: auto;
    height: 650px;
    background: url(../img/hero/full.jpg) no-repeat center center;
    background-size: cover;
}

.hero-slider button {
    border: none;
    display: block;
    position: absolute;
    overflow: hidden;
    background-color: #ffffff;;
    right: 249px;
    top: 600px;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 16px 30px;
    -webkit-box-shadow: 4px 4px 13px 0px rgba(0,0,0,0.44);
    -moz-box-shadow: 4px 4px 13px 0px rgba(0,0,0,0.44);
    box-shadow: 4px 4px 13px 0px rgba(0,0,0,0.44);
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

/* Site Wide Deals */
.site-wide-deals {
    position: relative;
    display: block;
    height: 100px;
    padding: 50px 24px 0;
}

.site-wide-deals ul {
    display: flex;
    justify-content: space-between;
}

.site-wide-deals ul li {
    text-transform: uppercase;
    text-align: center;
}

.site-wide-deals ul li span {
    display: inline-block;
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
}

.site-wide-deals ul li em {
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
    vertical-align: middle;
    margin-left: 8px;
}

.site-wide-deals ul li p {
    font-size: 10px;
    font-weight: 400;
    margin-top: 10px;
}

.site-wide-deals ul li button {
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    cursor: pointer;
}

/* VIP Exclusive*/
.vip-exclusive {
    position: relative;
    display: block;
    height: 75px;
    padding-bottom: 0;
    background: #000000 url(../img/hero/black-friday-BG.png) no-repeat left center;
    background-size: auto 70px;
}

.vip-exclusive ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.vip-exclusive ul h2 {
    font-size: 32px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
}

.vip-exclusive ul p {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
}

.vip-exclusive ul button {
    width: 150px;
    height: 42px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffffff;
    text-transform: uppercase;
    border: none;
}

/* Trending */
.trending {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 1060px;
    padding: 60px;
}

.trending h2 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.trending p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
}

.trending ul.dress {
    display: grid;
    grid-template-columns: 225px 225px 225px 225px;
    grid-gap: 50px 40px;
    justify-content: space-between;
    margin-top: 40px;
}

.trending ul.dress li img {
    display: block;
    width: 225px;
}

.trending ul.dress li p {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 16px;
}

.trending ul.hashtag {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.trending ul.hashtag a {
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #000000;
    border-radius: 50px;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
    margin: 10px;
}

/* Recently Bought */
.recently-bought {
    padding: 60px;
}

.recently-bought h2 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.recently-bought ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 50px;
    justify-content: space-between;
}

.recently-bought h2 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin: 50px auto;
    margin-top: 0;
}

.recently-bought ul li {
    width: 225px;
}

.recently-bought ul li img {
    width: 225px;
}

.recently-bought ul li p {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    padding: 8px 0;
}

.recently-bought ul li p span {
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
    padding: 8px 0;
}

.recently-bought ul li p.sale span {
    color: red;
    font-weight: 800;
}

.recently-bought ul li p.sale del {
    color: #000000;
    padding: 8px 30px;
    font-weight: 600;
}

/* Next Inspo */
.next-inspo {
    background-color: #f2f2f2;
    padding: 60px;
}
.next-inspo div.gallery {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 50px;
    justify-content: space-between;
}

.next-inspo h2 {
    font-size: 36px;
    font-weight: 800;
    text-align: center;
}

.next-inspo p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
}

.next-inspo div {
    margin-top: 50px;
}

.next-inspo div img {
    width: 225px;
}

.next-inspo button {
    font-family: 'Montserrat', sans-serif;
    border: none;
    display: block;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 24px;
    background-color: #000000;
    color: #ffffff;
    margin-top: 30px;
}

.newsletter-form {
    background-color: #000000;
    padding: 16px;
}

.newsletter-form form {
    display: flex;
    justify-content: space-evenly;
}

.newsletter-form h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
}

.newsletter-form form span input {
    font-family: 'Montserrat', sans-serif;
    width: 315px;
    display: inline-block;
    color: #4d4d4d;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 16px;
    background-color: #f2f2f2;
    border: none;
}

.newsletter-form form button {
    display: inline-block;
    width: 35px;
    background-color: #ffffff;
    border: none;
    margin-left: -5px;
    vertical-align: bottom;
    height: 34px;
    cursor: pointer;
}

.newsletter-form form img {
    display: inline-block;
    width: 20px;
}

/* Footer */
footer {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 12px;
    padding: 40px 50px 20px 50px;
}

footer ul li {
    margin: 20px 0;
}

footer ul ul {
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
    height: 40px;
}

footer ul ul.social li {
    margin-right: 8px;
}

footer ul ul.social li img {
    cursor: pointer;
}

footer ul ul.payment li {
    margin-right: 8px;
}

footer ul ul.payment li img {
    width: 37.5px;
    cursor: pointer;
}

footer h5 {
    font-weight: 600;
    text-transform: uppercase;
}

footer a {
    font-weight: 400;
    text-decoration: none;
    color: #000000;
}

footer a:hover {
    text-decoration: underline;
}

.left-footer {
    display: grid;
    grid-template-columns: 30% 30% auto;
}

.footer-rights {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding: 0 40px;
}

.footer-rights p {
    font-size: 12px;
    font-weight: 400;
}