.DS_Store
css/.DS_Store
img/.DS_Store
img/footer-icons/.DS_Store
img/footer-icons/.DS_Store
img/footer-icons/.DS_Store
img/footer-icons/.DS_Store
img/footer-icons/.DS_Store
img/footer-icons/.DS_Store
